<a href="https://colab.research.google.com/github/JJang-likit/Basic-Study/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 정리

#### 라이브러리 임포트
- Pandas를 사용하기 위해서는 import 과정이 필요하다.

In [ ]:
import pandas as ps
from pandas import Series
print('import finish')

import finish

### **Series** 생성
- 1차원 데이터를 저장하는 리스트, 튜플, 사전 타입 등을 이용해서 Series 객체를 생성할 수 있다.

In [ ]:
# List 사용하여 Series 생성하기

arr = [1, 2, 3, 4]
data1 = Series(arr)
data1

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
#Index 삽입하기

data1.index = {'a', 'b', 'c', 'd'}
data1.index

Index(['d', 'b', 'c', 'a'], dtype='object')

In [ ]:
# Index를 포함하는 Series 만들기
data2 = Series([10, 20, 30, 40], ['aa', 'bb', 'cc', 'dd'])
data2.index

Index(['aa', 'bb', 'cc', 'dd'], dtype='object')

#### Series 생성자의 5개 인자
pd.Series(data = None, index = None, dtype = None, name = None, copy = False)
- data = Series에 들어갈 1차원 데이터
- Index = 인덱스 라벨(**data의 크기와 동일해야 함**)
- dtype = 값의 데이터 타입 지정, 미지정시 자동으로 지정됨
- name = 이름 설정
- copy = 입력 데이터 복사 여부

In [ ]:
# Tuple을 사용하여 Series 생성하기 / List 타입과 거의 비슷

arr2 = (100, 200, 300, 400)
data2 = Series(arr2)
data2

0    100
1    200
2    300
3    400
dtype: int64

In [ ]:
# Dict 타입 변수를 사용해서 Series 생성하기

arr3 = {
    'Korea':1,
    'USA':2,
    'Japan':3,
    'China':4
}
data3 = Series(arr3)
data3

Korea    1
USA      2
Japan    3
China    4
dtype: int64

In [ ]:
# Series의 값에는 모든 데이터 타입이 사용 가능하다

Series(['apple', 1, 3, 5.5, [1,2,3]])

0        apple
1            1
2            3
3          5.5
4    [1, 2, 3]
dtype: object

In [ ]:
# 샘플데이터 생성

sample = pd.Series([85, 90, 75, 55, 45, 90, 95, 85, 90, 100],
                index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

#### 속성(Attribute)은 Series가 가지고 있는 객체, 속성 혹은 간단한 기능을 제공한다.

In [ ]:
# Index는 Series의 label을 의미한다.

sample.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [ ]:
# values는 Series의 데이터 값을 의미한다.

sample.values

array([ 85,  90,  75,  55,  45,  90,  95,  85,  90, 100])

In [ ]:
# size는 Series의 크기(데이터의 길이)를 의미한다.

sample.size

10

In [ ]:
# dtype은 Series의 데이터 타입을 의미한다.
# 정수형은 int64, 실수형은 float64, 문자열이거나 2개 이상의 데이터 타입으로 이루어진 경우 Object

sample.dtype

dtype('int64')

### **함수**
- 속성(Attribute)보다 다양한 기능을 제공한다.
- 함수 호출 시 전달되는 자료들은 인자(argument, parameter)이다.
- 각 함수들은 정의된 인자가 있으며 인자값을 토대로 함수를 실행한다.

##### **속성과 함수의 차이**
- 속성은 뒤에 괄호를 붙이지 않는다.
- 함수는 뒤에 괄호()를 붙여줘야 한다.

In [ ]:
# describe() - 통계 정보를 한 눈에 제공해주는 함수

sample.describe()

count     10.000000
mean      81.000000
std       17.763883
min       45.000000
25%       77.500000
50%       87.500000
75%       90.000000
max      100.000000
dtype: float64

In [ ]:
# 통계함수 - max(), min(), avg()..

sample.max()

100

In [ ]:
# add_prefix(prefix) - Index 라벨 앞에 문자열을 추가함

sample.add_prefix('NO-')

NO-a     85
NO-b     90
NO-c     75
NO-d     55
NO-e     45
NO-f     90
NO-g     95
NO-h     85
NO-i     90
NO-j    100
dtype: int64

In [ ]:
# value_counts() - Series에 있는 데이터 값들의 개수

sample.value_counts()

90     3
85     2
75     1
55     1
45     1
95     1
100    1
dtype: int64

In [ ]:
# add(값) - Series의 데이터 각각에 값을 더해줌

sample.add(10)

a     95
b    100
c     85
d     65
e     55
f    100
g    105
h     95
i    100
j    110
dtype: int64

In [ ]:
# append(series) - 인자로 받은 series를 기존 series 뒤에 이어 붙여서 하나로 만든다.

new = Series(10, index = ['k'])

sample.append(new)

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     10
dtype: int64

In [ ]:
# isin(val_list) - Series에 있는 각각의 데이터들이 val_list에 포함되는지 여부를 확인한다

sample.isin([85])

a     True
b    False
c    False
d    False
e    False
f    False
g    False
h     True
i    False
j    False
dtype: bool

In [ ]:
sample.isin([85, 90])

a     True
b     True
c    False
d    False
e    False
f     True
g    False
h     True
i     True
j    False
dtype: bool

#### Mini Quiz - sample 데이터 내에 80이 있는지 확인하고 있으면 True, 없으면 False를 출력

In [ ]:
80 in sample.values

False

#### Mini Quiz2 - sample 데이터의 인덱스에 h가 있는지 확인하여 있으면 True, 없으면 False를 출력

In [ ]:
'h' in sample.index

True

In [ ]:
# apply(func) - Series의 값에 인자로 받은 func 함수를 적용함

def get_grade(val):
  if val >= 80:
    return 'good'

  else:
    return 'Bed'

In [ ]:
sample.apply(get_grade)

a    good
b    good
c     Bed
d     Bed
e     Bed
f    good
g    good
h    good
i    good
j    good
dtype: object

##### 익명함수
- 람다(lamda)함수라고도 함
- 함수를 재사용할 가능성이 희박하거나 간단한 함수일 경우에 사용한다.
- 여러줄의 코드가 필요 없고 메모리를 절약할 수 있다는 장점이 있다.

In [ ]:
sample.apply(lambda val: 'good' if val>= 80 else 'Bad')

a    good
b    good
c     Bad
d     Bad
e     Bad
f    good
g    good
h    good
i    good
j    good
dtype: object

### Indexing을 활용하여 내가 원하는 데이터 선택하기

In [ ]:
# 특정 인덱스 선택하기 / 숫자 인덱스와 인덱스 라벨 모두 가능함
# 숫자 인덱스의 경우 0부터 시작함

sample[0]

85

In [ ]:
# 인덱스 라벨로 선택

sample['d']

55

In [ ]:
# 여러 인덱스를 동시에 선택하기 / 선택하고자 하는 인덱스 목록을 리스트로 전달해야 함

sample[[2, 3, 4]]

c    75
d    55
e    45
dtype: int64

In [ ]:
sample[['a', 'c', 'd']]

a    85
c    75
d    55
dtype: int64

In [ ]:
# 인덱스 슬라이싱 / 주어진 범위 값을 주고 범위에 해당하는 데이터를 선택함
# 문자 인덱스의 경우 엔드 인덱스를 포함하지만 숫자 인덱스의 경우 엔드 인덱스를 포함하지 않는다.

sample[2:6]

c    75
d    55
e    45
f    90
dtype: int64

In [ ]:
sample['a':'e']

a    85
b    90
c    75
d    55
e    45
dtype: int64

In [ ]:
# 스타트 인덱스나 엔드 인덱스는 생략이 가능하다

sample[:6]

a    85
b    90
c    75
d    55
e    45
f    90
dtype: int64

In [ ]:
sample[2:]

c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64